body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.error {
  color: red;
}

#input-url {
  width: 590px;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  transition-duration: 0.4s;
}

#input-url:hover {
  border: 2px solid #0d59ee;
}

.title {
  padding: 0 24px;
}

.get-audio-button {
  background-color: #0e4ac3;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 8px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.get-audio-button:hover {
  background-color: #0d59ee;
  color: white;
}

.get-audio-button:disabled {
  background-color: grey;
  cursor: default;
}

.playlist-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  max-width: 960px;
  margin: 24px;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}